.transactionLineContainer {
  display: flex;
  padding: 5% 0%;
}

.date {
  flex: 1;
  width: 20%;
  font-weight: 700;
}

.description {
  width: 60%;
  flex: 1;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.amount {
  width: 20%;
  flex: 1;
  text-align: right;
  font-weight: 700;
}

.greenFront {
  color: green;
}
