.appContainer {
  margin: auto;
  max-width: 370px;
  max-height: 100vh;
  min-height: 620px;
  overflow: scroll;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.appContainer::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 600px) {
  .appContainer {
    margin: auto;
    max-width: 100%;
    padding: 0% 5%;
  }
}
